$primary-color: #f26f2b;
$secondary-color: #f8d2b8;

$background-color: #ffffff;
$background-color-dark: #000000;
$text-color: #000000;
$gray-color: #e5e7eb;

$success-color: #16a34a;
$error-color: #dc2626;
